<!-- <div class="form-group">
    <label for="file">Choose File</label>
    <button mat-raised-button class="menuButton" color="primary">
      <mat-icon>cloud_upload</mat-icon>
      <span>Upload File</span>
    </button>
    <input type="file"
           id="file"
           (change)="handleFileInput($event.target.files)">
    <h1>{{fileName}}</h1>
</div> -->


<h4>Choose a File to Upload</h4>

<div class="upload-btn-wrapper">
  <button mat-raised-button class="menuButton" color="primary" class="btn">
    <mat-icon>cloud_upload</mat-icon>
    <span>Upload File</span>
  </button>
  <input type="file" name="myfile" (change)="handleFileInput($event.target.files)"/>

  <span>{{fileName}}</span>
</div>

<br/>
<br/>

<div class="buttonContainer">
  <button mat-raised-button color="warn" (click)="onButtonClick('cancel')">Cancel</button>
  <button mat-raised-button color="primary" (click)="onButtonClick('save')">Save</button>
</div>
