h4 {
  color:#163f7f;
  margin: 20px 0px;
  font-size:20px;
  font-weight: 500;
}

.buttonContainer {
  float: right;
}

.buttonContainer button{
  margin:10px 5px 5px 5px
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper span {
  margin-left: 20px;
}

.upload-btn-wrapper button mat-icon {
  margin-right: 5px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.uploadContainer {
  display: grid;
  grid-template-columns: 50% 50%;
}

.fileName {
  color:#163f7f;
  font-size: 18px;
  font-weight: 500;
  margin:10px;
}
.fileNameKey {
  font-size: 18px;
  font-weight: 500;
  margin: 10px;
}
