<div class="appbarComponent">
  <img src="./../../assets/logo.jpeg" />
  <p class="branding">Drive</p>
  <p class="greetings">Hello {{userId | uppercase }}</p>
</div>

<div class="menubar">

  <div></div>

  <div class="menu">
    <button mat-button [matMenuTriggerFor]="menu" class="menuButton">
      <mat-icon>add</mat-icon>
      <span>New</span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openDialog('file')">
        <mat-icon>file_copy</mat-icon>
        <span>File</span>
      </button>
      <button mat-menu-item (click)="openDialog('folder')">
        <mat-icon>featured_video</mat-icon>
        <span>Folder</span>
      </button>
    </mat-menu>
  </div>

  <div class="menu">
    <button mat-button class="menuButton" (click)="openUploadDialog()">
      <mat-icon>cloud_upload</mat-icon>
      <span>Upload</span>
    </button>
  </div>

  <div class="menu">
    <button mat-button class="menuButton">
      <mat-icon>delete_outline</mat-icon>
      <span>Delete</span>
    </button>
  </div>
</div>

<div class="emptyFillComponent" *ngIf="empty">
  <img src="./../../assets/fill.png" />
  <p>Empty space is borign add or upload some files.</p>
</div>
