.appbarComponent {
  padding:15px;
  background-color: #163f7f;
}

.appbarComponent .greetings {
  color: #fff;
  text-align: right;
  font-size: 18px;
  margin-right: 10px;
}

.appbarComponent img {
  position: absolute;
  left: 25px;
  top:8px;
  height:50px;
  width:50px;

}

.branding {
  margin-left: 80px;
  color:white;
  font-size: 18px;
  z-index: 10;
  float: left;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.menubar {
  display: grid !important;
  padding:7px;
  grid-template-columns: 130px 100px 125px 130px;
  background-color: #d5dae8;
}

.menu {
  justify-content: center;
  align-items: center;
  padding:10px;
  cursor: pointer;
}

.menuButton mat-icon {
  font-size: 25px;
  font-weight: lighter;
}

.menuButton span {
  font-size: 20px;
  margin-left: 8px;
  font-weight: lighter;
  font-family: 'Noto Sans SC', sans-serif;
}

.emptyFillComponent {
  border-style: dashed;
  margin: 70px;
  border-width: medium;
  border-color: #163f7f;
}

.emptyFillComponent img{
  height:300px;
  width: 300px;
  display: block;
  margin: auto;
}

.emptyFillComponent p{
  text-align: center;
  color:#163f7f;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 25px;
  font-family: 'Noto Sans SC', sans-serif;
}
