 <div class="rightClickContainer" (click)="disableContextMenu()" oncontextmenu="return false;">
    <ul> 
        <li (contextmenu)="onrightClick($event)">
<div class="appbarComponent">
  <img src="./../../assets/LTA.png" />
  <p class="branding">TeamSpace</p>
  <p class="greetings" >Hello {{userId | uppercase }}</p>
  <mat-icon (click)="handleLogout()">exit_to_app</mat-icon>
</div>

<div class="menubar">

  <div></div>

  <div class="menu">
    <button mat-button class="menuButton" (click)="openUploadDialog()" disabled={{backButtonDisable}}>
      <mat-icon>arrow_back</mat-icon>
      <span>Back</span>
    </button>
  </div>

  <div class="menu">
    <button mat-button [matMenuTriggerFor]="menu" class="menuButton">
      <mat-icon>add</mat-icon>
      <span>New</span>
    </button>
    <mat-menu #menu="matMenu">

      <button mat-menu-item (click)="openDialog('folder')">
        <mat-icon>featured_video</mat-icon>
        <span>Folder</span>
      </button>

      <button mat-menu-item (click)="openDialog('Textfile')">
        <mat-icon>event_note</mat-icon>
        <span>Textfile</span>
      </button>

      <button mat-menu-item (click)="openDialog('Word document')">
        <mat-icon>file_copy</mat-icon>
        <span>Word document</span>
      </button>

      <button mat-menu-item (click)="openDialog('Excel workbook')">
        <mat-icon>grid_on</mat-icon>
        <span>Excel workbook</span>
      </button>

      <button mat-menu-item (click)="openDialog('PowerPoint Presentation')">
        <mat-icon>filter_none</mat-icon>
        <span>PowerPoint Presentation</span>
      </button>

      <button mat-menu-item (click)="openDialog('Forms for Excel')">
        <mat-icon>table_chart</mat-icon>
        <span>Forms for Excel</span>
      </button>
    </mat-menu>
  </div>

  <div class="menu">
    <button mat-button class="menuButton" (click)="openUploadDialog()">
      <mat-icon>cloud_upload</mat-icon>
      <span>Upload</span>
    </button>
  </div>

  <div class="menu">
    <button mat-button class="menuButton" (click)="confirmDialog()">
      <mat-icon>delete_outline</mat-icon>
      <span>Delete</span>
    </button>
  </div>
</div>

<div class="loaderContainer">
  <mat-progress-bar
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="value">
      </mat-progress-bar>
      <p class="loadingMsg">{{loadingMsg | uppercase}}</p>
</div>

<div class="emptyFillComponent" *ngIf="empty">
  <img src="./../../assets/fill.png" />
  <p>Empty space is boring, add or upload some files.</p>
</div>

<div class="contents" *ngIf="empty === false">
  <div class="contentList">
    <h2>Files</h2>


    <div class="tableHeader">
        <div>
        </div>

        <div>
          <mat-icon>description</mat-icon>
        </div>

        <div>
          <h4>Name</h4>
        </div>

        <div>
          <h4>Modified Date</h4>
        </div>

        <div>
          <h4>Modified By</h4>
        </div>

        <div>
          <h4>File Size</h4>
        </div>
    </div>

    <div class="tableRows" *ngFor="let content of contentObj" (click)="selectedFolder(content)">
      <div>
        <!-- <mat-radio-group class="example-radio-group" [(ngModel)]="selectedObj"> -->
          <mat-radio-button name="content" value="content" color="primary" (click)="handleSelect(content)">  </mat-radio-button>
        <!-- </mat-radio-group> -->
      </div>

      <div>
        <mat-icon *ngIf="content.type === 'folder'">folder</mat-icon>
        <mat-icon *ngIf="content.type === 'file'">description</mat-icon>
        <mat-icon *ngIf="content.type === 'image'">image</mat-icon>
      </div>

      <div>
        <h4>{{content.name}}</h4>
      </div>

      <div>
        <h4>{{content.mtime}}</h4>
      </div>

      <div>
        <h4>{{userId}}</h4>
      </div>

      <div>
        <h4>{{content.size}} Bytes</h4>
      </div>
    </div>
  </div>
</div>

<!--   <!-- this is the usage -->
</li>
   </ul>

  <!--you have to write this only once in your component-->
  <div *ngIf="contextmenu==true">
      <app-contextmenu [x]="contextmenuX" [y]="contextmenuY"></app-contextmenu>
  </div>
</div>