.appbarComponent {
  padding:5px;
  background-color: #163f7f;
}

.rightClickContainer {
  margin-left:-39px;
  margin-top:-15px;
}

.appbarComponent mat-icon {
  float:right;
  margin-top: -40px;
  margin-right: 30px;
  color:white;
  cursor: pointer;
}

.appbarComponent .greetings {
  color: #fff;
  text-align: right;
  font-size: 18px;
  margin-right: 80px;
}

.appbarComponent button {
  float:right;
}

.appbarComponent img {
  left: 25px;
  top:8px;
  height:50px;
  width:190px;
  padding:0px;
  margin:4px 0px 0px 40px;
  float:left;
  background-color: #fff;
}

.branding {
  margin-left: 20px;
  color:white;
  font-size: 18px;
  z-index: 10;
  float: left;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.menubar {
  display: grid !important;
  padding:7px;
  grid-template-columns: 160px 100px 100px 125px 130px ;
  background-color: #d5dae8;
}

.menu {
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menuButton mat-icon {
  font-size: 20px;
  font-weight: lighter;
  margin-top: 5px;
}

.menuButton span {
  font-size: 18px;
  margin-left: 5px;
  font-weight: lighter;
  font-family: 'Noto Sans SC', sans-serif;
}

.emptyFillComponent {
  border-style: dashed;
  margin: 70px;
  border-width: medium;
  border-color: #163f7f;
}

.emptyFillComponent img{
  height:300px;
  width: 300px;
  display: block;
  margin: auto;
}

.emptyFillComponent p{
  text-align: center;
  color:#163f7f;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 25px;
  font-family: 'Noto Sans SC', sans-serif;
}

.contents {
  margin:-20px 20px 20px 20px;
  padding:20px;
}


.contentList h2 {
  display: block;
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color:#163f7f;
  margin: 0px;
}

.contentList {
  padding:20px;
}

.tableHeader {
  display: grid;
  grid-template-columns: 10vw 10.5vw 18vw 15vw 15vw 20vw;
  background-color: #d5dae8;
  padding:10px;
  margin:10px 0px;
}

.tableHeader mat-icon{
  font-size: 25px;
  font-weight: 500;
}

.tableHeader h4 {
  font-family: 'Noto Sans SC', sans-serif;
  margin:0px;
  font-weight: 500;
  font-size: 18px;
}

.tableRows mat-icon {
  font-size: 25px;
  font-weight: 500;
}

.tableRows mat-radio-button {
  margin-left: 25px;
}

.tableRows {
  display: grid;
  grid-template-columns: 10.5vw 10vw 18vw 15vw 15vw 20vw;
  padding:5px;
}

.tableRows h4 {
  font-family: 'Noto Sans SC', sans-serif;
  margin:0px 0px 0px 5px;
  font-weight: 500;
  font-size: 16px;
}

.tableRows div {
  padding: 5px 0px 5px 0px;
  cursor: pointer;
}

.tableRows:hover {
  background-color:#e8e8e8;
}

.loadingMsg {
  display: block;
  color:#163f7f;
  text-align: center;
  letter-spacing: 2px;
}

.loaderContainer{
  width:100%;
}
