<div class="contextmenu" [ngStyle]="{'left.px': x, 'top.px': y}">
    <ul>
        <li (click)="handleRightClickFile('folder')">Folder</li>
        <li (click)="handleRightClickFile('Textfile')">Text File</li>
        <li (click)="handleRightClickFile('Word document')">Word Document</li>
        <li (click)="handleRightClickFile('PowerPoint Presentation')">Power Point Presentation</li>
        <li (click)="handleRightClickFile('Excel workbook')">Excel Workbook</li>
        <li (click)="handleRightClickFile('Forms for Excel')">Excel for Forms</li>
    </ul>
</div>
