.contextmenu{
    position: absolute;
    background: #fff;
    border: 1px solid #c1c3c5;
    box-shadow:  -1px 1px #c1c3c5,
         -1px 1px #c1c3c5,
         -1px 1px #c1c3c5,
         -1px 1px #c1c3c5,
         -1px 1px #c1c3c5;
}

.contextmenu ul {
    list-style-type: none;
}

ul li {
    cursor: pointer;
    margin:11px 10px 10px -10px;
    font-size: 15px;
}