<div class="contextmenu" [ngStyle]="{'left.px': x, 'top.px': y}">
    <ul>
        <li (click)="handleRightClickFile('Folder')">Folder</li>
        <li (click)="handleRightClickFile('Text File')">Text File</li>
        <li (click)="handleRightClickFile('Word Document')">Word Document</li>
        <li (click)="handleRightClickFile('Power Point Presentation')">Power Point Presentation</li>
        <li (click)="handleRightClickFile('Excel Workbook')">Excel Workbook</li>
        <li (click)="handleRightClickFile('Excel for Forms')">Excel for Forms</li>
    </ul>
</div>
