.contextmenu{
    position: absolute;
    background: #fff;
    border: 1px solid #c1c3c5;
    box-shadow:  -1px 1px #c1c3c5,
         -1px 1px #c1c3c5,
         -1px 1px #c1c3c5,
         -1px 1px #c1c3c5,
         -1px 1px #c1c3c5;
}

.contextmenu ul {
    list-style-type: none;
    /* margin: 10px; */
}

ul li {
    cursor: pointer;
    margin:10px 20px 10px -15px;
    font-size: 15px;
    padding:5px;
    /* width:100%; */
}

ul li:hover {
    background:#163f7f;
    color:#fff;
}
